@page "/"

<div class="heroBanner">
    <h1 style="font-size: 2.6rem; font-weight: 300; margin: 0; margin-bottom: 10px;">
        Discord ranking systems.
    </h1>
    <p style="font-weight: 300;
        font-size: 2rem;
        margin: 0;
        opacity: 0.7;
        margin-bottom: 26px;
">
        For free. Forever.
    </p>
    <button class="button">
        Add to Discord
    </button>
</div>